html, body {
    margin:0;
    padding:0;
    background-color: #E5E5E5;
}

.container {
    width: 350px;
    height: auto;
    background-color: #ffffff
}

.container .title {
    height: 40px;
    background-color: #0083F8;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.container .title p {
    margin-top: 7px;
    font-weight: 600;
    font-size: 18px;
}

.form-group {
    margin-bottom: 0px;
}

.settings {
    margin-bottom: 10px;
}

.settings .row {
    margin-bottom: 3px;
}

.settings .section-header {
    border-bottom: 1px solid gray;
    padding-top: 5px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 10px;
}

.settings .name {
    padding-top: 6px;
    font-weight: 500;
}

#error {background-color: #a73232;
    color: #ffffff;
    padding: 9px;
    text-align: center;
}

#error p {
    margin: 0;
}

#overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(179, 179, 179, 0.69);
}