html, body {
    margin:0;
    padding:0;
    background-color: #E5E5E5;
}
.container {
    width: 250px;
    height: auto;
}

.container .title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #0083F8;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.container .title p {
    margin: 10px;
}

.container .settings {
    margin-top: 40px;
    padding: 10px 5px;
    position: relative;
}

.container .settings > p {
    font-size: 14px;
    margin: 10px 0;
}

.container .settings .setting {
    display: block;
    height: 25px;
    font-size: 13px;
    font-weight: 500;
    margin: 3px 0;
}
.container .settings .setting input[type="number"] {
    width: 100%;
}

.container .settings .setting div {
    line-height: 24px;
}

.container .settings .setting .name {
    width: 40%;
    height: 100%;
    background-color: #00A863;
    color: #ffffff;
    display: inline-block;
    float: left;
    text-align: right;
    padding: 0 4px;
}

.container .settings .setting .value {
    width: 56%;
    height: 100%;
    background-color: #ffffff;
    color: #000000;
    display: inline-block;
    float: left;
    text-align: left;
}

#starting-hour, #ending-hour {
    width: 100%;
}

.disable {
    margin-top: -10px !important;
}

#error {background-color: #a73232;
    color: #ffffff;
    padding: 9px;
    text-align: center;
}

#error p {
    margin: 0;
}

#overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(179, 179, 179, 0.69);
}